@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
*
{
    padding: 0px;
    margin: 0px;
}
nav
{
    height: 10rem;  
}
#headL
{
    background-color: #2c2f36; 
    color: white;
    height: 100%;
    max-width: 20%;
}
.logo
{
    padding: 1% 2%;
}
.logo div:nth-child(1)
{
    background-color:#e41d70; 
    width: 0.9rem;
    height: 0.36rem; 
}
.logo div:nth-child(2)
{
    background-color:#e41d70;
    height: 0.9rem;
    width: 0.36rem;
}
#logo-textf
{
    font-weight: 900;
    font-size: 2rem;
}
#logo-texts
{
    font-weight: 900;
    font-size: 2rem;
    margin: -16% 20%; 
}
#logo-textt
{
    margin: 12% 0%;
    font-size: 96%;
}
#headM
{
    max-width:40%;
    height: 100%;
    font-size: 84%;
}
.headM-content
{
    padding: 2% 2%;
}
.headM-content h5
{
    font-weight: 900;
}
#headR
{
    max-width:40%;
    background-color: #f8f8f8;
}
@media screen and (max-width: 2500px) 
{

}
@media screen and (max-width: 1200px) 
{

}
@media screen and (max-width: 998px) 
{

}
@media screen and (max-width: 768px)
{

}
main section:nth-child(1)
{
    max-width:100% ;
    height: 72vh;
    background-color: black;
}
main section:nth-child(2)
{
        height: 85vh;
}
#middle
{
    height: 25%;
    background-color: #f8f8f8;
}
#midl
{
    padding: 2rem 2rem;
    max-width: 20%;
    padding-left: 10%;
}
#midr
{
    padding: 1rem 0;
    max-width: 80%;
}
@media screen and (max-width: 2500px) 
{

}
@media screen and (max-width: 1200px) 
{

}
@media screen and (max-width: 998px) 
{

}
@media screen and (max-width: 768px)
{

}
#bottom
{
    padding: 3rem 3rem;
}
.card-img-top
{
    max-width:5rem;
}
#bottom
{
    padding: 3rem 6rem; 
}
#box1::before
{
    content: '';
    position: relative;
    top: 6rem;
    padding: 3rem 0.56px;
    background-color: gray;
}
#box2::before
{
    content: '';
    position: relative;
    max-width: 7rem;
    top: 5rem;
    padding: 3rem 0.56px;
    background-color: gray;
}
span
{
    padding: 0 4%;
    background-color: #e41d70;
    font-size: xx-small;
    margin-left: 4%;
}
@media screen and (max-width: 2500px) 
{

}
@media screen and (max-width: 1200px) 
{

}
@media screen and (max-width: 998px) 
{

}
@media screen and (max-width: 768px)
{

}
footer
{
    padding: 0 0;
    width: 198vh;
    background-color: #2c2f36;
    color: white;
    position:absolute;
}

